/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    padding-top: 0px;
    margin-top: 0px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}


.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.no-phone {
    display: inline;
}

.only-phone{
    display: none;
}

.raleway-700{
    font-weight: 700;
}

.raleway-400{
    font-weight: 400;
}

/****** Barre de navigation ***********/

.nav-img{
    height: 19px;
    margin-top: 25px;
}
.navbar{
    display: flex;
    margin-bottom: 10px;
}

.navbar ul{
    list-style: none;

    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.navbar li {
    display: flex;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 16px;
    border-top-style: solid;
    border-top-color: white;
}

.navbar a:hover {
    color: #0065FC;
    border-top-color: #0065FC;
}

/*********** Barre de recherche *************/

.search-bar {
    display: flex;
    border-radius: 15px;
    background: #F2F2F2;
    width: fit-content;
    height: 49px;
    text-decoration: bold;

    margin-bottom: 20px;
}

.search-bar i {
    color: black;
    padding: 18px;
    font-size: 18px;
}

.search-bar input {
    border: none;
    height: 92%;
    vertical-align: middle;
    padding: 0px;
    margin: auto 0;
    text-align: center;
}

.search-bar button {
    background: #0065FC;
    color: white;
    border: none;
    border-radius: 0px 15px 15px 0px;
}

.search-bar button:hover {
    background: rgb(0, 50, 255);
}

.search-bar button:active {
    background: rgb(0, 0, 255);
}

/*********** Filtres ******************/

.filtres{
    display: flex;
    align-items: center;
}

.categorie-section{
    list-style: none;
    display: flex;
    padding: 10px;
}

.categorie{
    display: flex;
    border: solid;
    border-radius: 25px;
    border-color: #F2F2F2;
    width: fit-content;
    padding: 10px 20px 10px 20px;
    margin: 0px 5px 0px 0px;
}

.categorie i{
    font-size: 17px;
    padding-right: 10px;
}

.categorie a{
    text-decoration: none;
    align-items: center;
    color: black;
    font-size: 17px;
    line-height: 20px;
}

.categorie:hover{
    background: #d2d2d2;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.hebergements-cards{
    display: inline-grid;
    grid-template-columns: 34% 34% 34%;
    grid-auto-rows: auto;
}

.hebergements-cards .card{
    margin-top: 10px;
    margin-right: 20px;
}

.hebergements-cards .card-txt {
    padding: 10px;
}

.hebergements-cards .card-title {
    margin-bottom: 3px;
}

.hebergements-cards .card-subtitle {
    margin-bottom: 3px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-radius: 15px 15px 0px 0px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    
    /********** Hebergements et populaires ************/
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .hebergements-cards{
        display: inline-grid;
        grid-template-columns: 50% 50%;
        grid-auto-rows: auto;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /**************** Navbar ****************/

    body {
        margin: 0px;
    }
    .main-container {
        padding: 0px;
        margin: 0px;
    }

    .navbar a {
        text-decoration: none;
        color: black;
        padding: 16px;
        border-bottom-style: solid;
        border-bottom-color: white;
    }

    .navbar a:hover {
        color: #0065FC;
        border-bottom-color: #0065FC;
        border-top-color: white;
    }

    .hebergements-and-populaires {
        padding: 0px;
    }


    .populaires-cards {
        flex-direction: column;
        font-size: 18px; /* font size des étoiles */
    }

    .hebergements-cards{
        display: inline-grid;
        grid-template-columns: 100%;
        grid-auto-rows: auto;
    }

    .hebergements-cards .card {
        width: 100%;
    }

    .populaires-cards .card {
        width: 100%;
    }

    .populaires-cards img {
        height: 180px;
    }

    .populaires-cards .card-title{
        font-size: 22px;
    }
    .populaires-cards .card-subtitle{
        font-size: 18px;
    }

    .no-phone{
        display: none;
    }

    .only-phone {
        display: inline;
    }

    .search-bar button{
        border-radius: 15px 15px 15px 15px;
    }

}